
<%= form_for(:profiles, url: add_profile_picture_profiles_path, method: :post , :html => {:multipart => true} ) do |f| %>





<div mclass='form-group'>
	

	<label>Profile Photo</label>




	<%= f.file_field :profile_photo,class: 'form-control' %>
</div>

	<%= f.submit "Submit" , :class => "btn btn-primary pull-right "  , name: 'submit_check'%>





<% end %>
