<%= form_for(:profiles, url: additional_profile_photos_profiles_path, method: :post , :html => {:multipart => true} ) do |f| %>

<fieldset>


        <% @testlist.each do |lists| %>
            <div class="form-group">
             
                
                  <label>Photos</label>
                  <input id="testname" name="hrhireportals[testname]"  type="text" class="form-control required" value='<%= lists[:image_name]%>' readonly>
                </div>

                 <div class="form-group">
                
                  <%= f.file_field :additional_profile_photo, name: "profiles[attachments][]" ,class: 'form-control'%>
                </div>

                <div class="form-group">


                    
            

                  <input type="hidden" name='<%= lists[:image_name] %>' value=<%= lists[:image_name]%>><%= lists[:image_name] %>



            <input type="checkbox" name="a[<%= lists[:image_name] %>][]"  id="a<%= lists[:image_name] %>" />
              <label for="a<%= lists[:image_name]%>"></label>

                  </div>
             
                
              
            

        <%end%>

      </fieldset>


  <%= f.submit "Submit" , :class => "btn btn-primary pull-right "  , name: 'submit_check'%>
<%end%>