
   <script>
     <% if flash[:notice].present? %>
      alert(" <%= flash[:notice] %>");
       <% end %>
  </script>
  <div class="grid_3">
  <div class="container">

<%= form_for(:profiles, url: client_feedback_profiles_path, method: :get  ) do |f| %>

<div class='form-group'>
	

	<label>Feedback</label>




	<%= f.text_area :feedback,class: 'form-control' %>
</div>
	<%= f.submit "Submit" , :class => "btn btn-primary pull-right "  , name: 'submit_check'%>
<% end %>
</div>
</div>

