
<!-- Form Sample -->




  <%= form_for(:profiles, url: create_profile_profiles_path, method: :post , :html => { :multipart => true,:id=>"example-form" }) do |f| %>

	



  

    <div>
        <h3>Account</h3>
        <section>


        	
            <label for="email">Email *</label>
            <input id="email" name="profiles[:email]" type="text" class="required email">
            <label for="password">Password *</label>
            <input id="password" name="profiles[:password]" type="text" class="required">
            <label for="confirm">Confirm Password *</label>
            <input id="confirm" name="confirm" type="text" class="required">

           
            <label for="relation_to_profile">Select Profile For*</label>
            <input id="relation_to_profile" name="profiles[:relation_to_profile]" type="text" class="required">




  

            <p>(*) Mandatory</p>
        </section>
        <h3>Profile</h3>
        <section>
            <label for="name">First name *</label>
            <input id="name" name="name" type="text" class="required">
            <label for="surname">Last name *</label>
            <input id="surname" name="surname" type="text" class="required">
            <label for="email">Email *</label>
            <input id="email" name="email" type="text" class="required email">
            <label for="address">Address</label>
            <input id="address" name="address" type="text">
            <p>(*) Mandatory</p>
        </section>
        <h3>Hints</h3>
        <section>
            <ul>
                <li>Foo</li>
                <li>Bar</li>
                <li>Foobar</li>
            </ul>
        </section>
        <h3>Finish</h3>
        <section>
            <input id="acceptTerms" name="acceptTerms" type="checkbox" class="required"> <label for="acceptTerms">I agree with the Terms and Conditions.</label>
        </section>
    </div>
<!-- </form> -->
<%end%>
























<!-- Form sample End -->



<div class="grid_3">
 <div class="container">






<%= form_for(:profiles, url: create_profile_profiles_path, method: :get  ) do |f| %>


<div>

<div class='form-group'>
	

	<label>email</label>




	<%= f.text_field :email,class: 'form-control' %>
</div>

<div class='form-group'>
	

	<label>password</label>




	<%= f.password_field :password,class: 'form-control' %>
</div>

<div class='form-group'>
	

	<label>relation_to_profile</label>




	<%= f.text_field :relation_to_profile,class: 'form-control' %>
</div>


<div class='form-group'>
	

	<label>first_name</label>




	<%= f.text_field :first_name,class: 'form-control' %>
</div>

<div class='form-group'>
	

	<label>last_name</label>




	<%= f.text_field :last_name,class: 'form-control' %>
</div>

<div class='form-group'>
	

	<label>age</label>




	<%= f.number_field :age,class: 'form-control' %>
</div>

<div class='form-group'>
	

	<label>gender</label>




	<%= f.text_field :gender,class: 'form-control' %>
</div>


<div class='form-group'>
	

	<label>dob</label>




	<%= f.text_field :dob,class: 'form-control' %>
</div>

<div class='form-group'>
	

	<label>religion</label>




	 <%= f.select :religion, options_for_select(@religions.collect{|bp| [bp.religion_name, bp.religion_name]}) %>
</div>

<div class='form-group'>
	

	<label>mother_tongue</label>







      <%= f.select :mother_tongue, options_for_select(@languages.collect{|bp| [bp.language_name, bp.language_name]}) %>
</div>


<div class='form-group'>
	

	<label>other_languages</label>




	<%= f.text_field :other_languages,class: 'form-control' %>
</div>




<div class='form-group'>
	

	<label>diet</label>




	<%= f.text_field :diet,class: 'form-control' %>
</div>

<div class='form-group'>
	

	<label>smoking_status</label>




	<%= f.text_field :smoking_status,class: 'form-control' %>
</div>

<div class='form-group'>
	

	<label>drinking_status</label>




	<%= f.text_field :drinking_status,class: 'form-control' %>
</div>

<div class='form-group'>
	

	<label>height_feet</label>




	<%= f.text_field :height_feet,class: 'form-control' %>
</div>

<div class='form-group'>
	

	<label>height_inch</label>




	<%= f.text_field :height_inch,class: 'form-control' %>
</div>


<div class='form-group'>
	

	<label>body_type</label>




	<%= f.text_field :body_type,class: 'form-control' %>
</div>

<div class='form-group'>
	

	<label>father_name</label>




	<%= f.text_field :father_name,class: 'form-control' %>
</div>

<div class='form-group'>
	

	<label>mother_name</label>




	<%= f.text_field :mother_name,class: 'form-control' %>
</div>

<div class='form-group'>
	

<label>number_of_brothers</label>




	<%= f.text_field :number_of_brothers,class: 'form-control' %>
</div>
<div class='form-group'>
	

<label>number_of_sisters</label>




	<%= f.text_field :number_of_sisters,class: 'form-control' %>
</div>

<div class='form-group'>
	

<label>mobile_no</label>




	<%= f.text_field :mobile_no,class: 'form-control' %>
</div>

<div class='form-group'>
	

<label>education_level</label>




	<%= f.text_field :education_level,class: 'form-control' %>
</div>

<div class='form-group'>
	

<label>education_field</label>




	<%= f.text_field :education_field,class: 'form-control' %>
</div>

<div class='form-group'>
	

<label>work_with</label>




	<%= f.text_field :work_with,class: 'form-control' %>
</div>

<div class='form-group'>
	

<label>work_as</label>




	<%= f.text_field :work_as,class: 'form-control' %>
</div>
<div class='form-group'>
	

<label>annual_income</label>




	<%= f.text_field :annual_income,class: 'form-control' %>
</div>

<div class='form-group'>
	

<label>about_myself</label>




	<%= f.text_field :about_myself,class: 'form-control' %>
</div>

<div class='form-group'>
	

<label>disability</label>




	<%= f.text_field :disability,class: 'form-control' %>
</div>

<div class='form-group'>
	

<label>live_in(Country)</label>


      <%= f.select :country_id, options_for_select(@countries.collect{|bp| [bp.country_name, bp.country_id]}) %>
     
</div>

<div class='form-group'>


<div class='form-group'>
	

	<label>living_in(Area)</label>




   <%= f.select :area_name, options_for_select(@area_countries.collect{|l| [l.area_name, l.area_name]}), {}, {"data-option-dependent" => true, "data-option-observed" => "profiles_country_id","data-option-url"  => "/profiles/get_area.json?country_id=:profiles_country_id", "data-option-key-method"  => :area_name, "data-option-value-method" => :area_name, 
      "data-option-key-method" => :area_name, "data-option-value-method" => :area_name,
 } %>
</div>
	

<label>marital_status</label>




	<%= f.text_field :marital_status,class: 'form-control' %>
</div>

<div class='form-group'>
	

<label>number_of_children</label>




	<%= f.text_field :number_of_children,class: 'form-control' %>
</div>
















	<%= f.submit "Submit" , :class => "btn btn-primary pull-right "  , name: 'submit_check'%>





<% end %>
</div>
</div>
</div>


