   
  

<div class="grid_3">
  <div class="container">


   <%= form_for(:profiles, url: profile_search_profiles_path, method: :get  ) do |f| %>

<div class='form-group'>
	

	<label>age start</label>




	<%= f.number_field :age_start,class: 'form-control' %>
</div>

<div class='form-group'>
	

	<label>age end</label>




	<%= f.number_field :age_end,class: 'form-control' %>
</div>





<div class='form-group'>
	

	<label>height_feet_start</label>




	<%= f.text_field :height_feet_start,class: 'form-control' %>
</div>

<div class='form-group'>
	

	<label>height_inch_start</label>




	<%= f.text_field :height_inch_start,class: 'form-control' %>
</div>




<div class='form-group'>
	

	<label>height_feet_end</label>




	<%= f.text_field :height_feet_end,class: 'form-control' %>
</div>

<div class='form-group'>
	

	<label>height_inch_end</label>




	<%= f.text_field :height_inch_end,class: 'form-control' %>
</div>







<div class='form-group'>
	

<label>Mother Tongue</label>




	    <%= f.select :mother_tongue, options_for_select(@languages.collect{|bp| [bp.language_name, bp.language_name]}) %>
</div>








<div class='form-group'>
	

<label>Religion</label>





	 <%= f.select :religion, options_for_select(@religions.collect{|bp| [bp.religion_name, bp.religion_name]}) %>
</div>




<div class='form-group'>
	
<label>live_in(Country)</label>


      <%= f.select :country_id, options_for_select(@countries.collect{|bp| [bp.country_name, bp.country_id]}) %>
     
</div>

<div class='form-group'>


<div class='form-group'>
	

	<label>living_in(Area)</label>




   <%= f.select :area_name, options_for_select(@area_countries.collect{|l| [l.area_name, l.area_name]}), {}, {"data-option-dependent" => true, "data-option-observed" => "profiles_country_id","data-option-url"  => "/profiles/get_area.json?country_id=:profiles_country_id", "data-option-key-method"  => :area_name, "data-option-value-method" => :area_name, 
      "data-option-key-method" => :area_name, "data-option-value-method" => :area_name,
 } %>
</div>
	

<label>marital_status</label>




	<%= f.text_field :marital_status,class: 'form-control' %>
</div>

















	<%= f.submit "Search" , :class => "btn btn-primary pull-right "  , name: 'submit_check'%>





<% end %>


</div>
</div>


