
<div class="grid_3">
  <div class="container">

<%= link_to "Approve", approve_invite_profiles_path(profile_id: '4' 

) %>
<%= link_to "Deny",deny_invite_profiles_path(profile_id: '5' 

) %>

<%= link_to "Invite",sent_invite_profiles_path(profile_id: '4' 

) %>
</div>
</div>
