

  <div class="grid_3">
  <div class="container">


<%= form_for(:profiles, url: set_package_profiles_path, method: :get  ) do |f| %>

	<div class='form-group'>
	

<label>Package name</label>


      <%= f.select :package_name, options_for_select(@packages.collect{|bp| [bp.package_name, bp.package_name]}) %>
     
</div>




<div class='form-group'>

<%= f.submit "Submit" , :class => "btn btn-primary pull-right "  , name: 'submit_check'%>
       <% end %>
   </div>
</div>