   
  



  <div class="grid_3">
  <div class="container">


<%= form_for(:profiles, url: set_preferences_profiles_path, method: :get  ) do |f| %>

<div class='form-group'>
	

	<label>age start</label>




	<%= f.number_field :age_start,class: 'form-control' %>
</div>

<div class='form-group'>
	

	<label>age end</label>




	<%= f.number_field :age_end,class: 'form-control' %>
</div>



	










<div class='form-group'>
	

	<label>diet</label>




	<%= f.text_field :diet,class: 'form-control' %>
</div>

<div class='form-group'>
	

	<label>smoking_status</label>




	<%= f.text_field :smoking_status,class: 'form-control' %>
</div>

<div class='form-group'>
	

	<label>drinking_status</label>




	<%= f.text_field :drinking_status,class: 'form-control' %>
</div>

<div class='form-group'>
	

	<label>height_feet_start</label>




	<%= f.text_field :height_feet_start,class: 'form-control' %>
</div>

<div class='form-group'>
	

	<label>height_inch_start</label>




	<%= f.text_field :height_inch_start,class: 'form-control' %>
</div>




<div class='form-group'>
	

	<label>height_feet_end</label>




	<%= f.text_field :height_feet_end,class: 'form-control' %>
</div>

<div class='form-group'>
	

	<label>height_inch_end</label>




	<%= f.text_field :height_inch_end,class: 'form-control' %>
</div>













<div class='form-group'>
	

	<label>body_type</label>




	<%= f.text_field :body_type,class: 'form-control' %>
</div>




<div class='form-group'>
	





<div class='form-group'>
	

<label>education_level</label>




	<%= f.text_field :education_level,class: 'form-control' %>
</div>

<div class='form-group'>
	

<label>education_field</label>




	<%= f.text_field :education_field,class: 'form-control' %>
</div>

<div class='form-group'>
	

<label>work_with</label>




	<%= f.text_field :work_with,class: 'form-control' %>
</div>


<div class='form-group'>
	

<label>annual_income</label>




	<%= f.text_field :annual_income,class: 'form-control' %>
</div>




<div class='form-group'>
	

<label>live_in(Country)</label>


      <%= f.select :live_in, options_for_select(@countries.collect{|bp| [bp.country_name, bp.country_name]}) %>
     
</div>


<div class='form-group'>
	

<label>marital_status</label>




	<%= f.text_field :marital_status,class: 'form-control' %>
</div>

















	<%= f.submit "Submit" , :class => "btn btn-primary pull-right "  , name: 'submit_check'%>





<% end %>


</div>
</div>


