

<div class="grid_3">
  <div class="container">
<%= form_for(:profiles, url:set_hobby_music_profiles_path, method: :get) do |f| %>


<table class="table table-bordered " >






      <thead>
      <tr>
        <th >Hobby Name </th>



      </tr>
      </thead>



      <tbody>


      <% @get_hobby_final.each do |posts| %>
          <tr>
           

             <td><input type="text" name="course[track_codes][]"  value = "<%= posts[:hobby_name] %>" ></td>

             <td><input type="hidden" name="course1[track_codes1][]"  value = "<%= posts[:id] %>" ></td>

          </tr>
      <% end %>


      </tbody>
    </table>

      <%= button_tag type: 'submit', class: "btn btn-primary pull-left ", name: 'submit_check_hobby_update' do %>
        <span>Submit</span>
    <% end %>

<% end %>




    <%= form_for(:profiles, url:set_hobby_music_profiles_path, method: :get) do |f| %>

    <div>

      <div class="form-group">

        <label class="col-sm-2 control-label">Add Hobby </label>

        <div class="col-sm-10"><input type="text" name="processes"  class ='just_tag form-control'  ></div>
      </div>
    </div>
    <div class="hr-line-dashed"></div>

    <%= button_tag type: 'submit', class: "btn btn-primary pull-left ", name: 'submit_check_hobby' do %>
        <span>Submit</span>
    <% end %>
<% end %>


<%= form_for(:profiles, url:set_hobby_music_profiles_path, method: :get) do |f| %>


<table class="table table-bordered " >






      <thead>
      <tr>
        <th >Music Type </th>



      </tr>
      </thead>



      <tbody>


      <% @get_music_type.each do |posts| %>
          <tr>
           

             <td><input type="text" name="course[track_codes][]"  value = "<%= posts[:music_type] %>" ></td>

             <td><input type="hidden" name="course1[track_codes1][]"  value = "<%= posts[:id] %>" ></td>

          </tr>
      <% end %>


      </tbody>
    </table>

      <%= button_tag type: 'submit', class: "btn btn-primary pull-left ", name: 'submit_check_music_update' do %>
        <span>Submit</span>
    <% end %>

<% end %>




    <%= form_for(:profiles, url:set_hobby_music_profiles_path, method: :get) do |f| %>

    <div>

      <div class="form-group">

        <label class="col-sm-2 control-label">Add Music Type</label>

        <div class="col-sm-10"><input type="text" name="processes"  class ='just_tag form-control'  ></div>
      </div>
    </div>
    <div class="hr-line-dashed"></div>

    <%= button_tag type: 'submit', class: "btn btn-primary pull-left ", name: 'submit_check_music' do %>
        <span>Submit</span>
    <% end %>
<% end %>
</div>
</div>