 


<%= form_for(:profiles, url: set_privacy_option_profiles_path, method: :get  ) do |f| %>



<div class='form-group'>
	

<label>display_name_status</label>




	<%= f.number_field :display_name_status,class: 'form-control' %>
</div>


<div class='form-group'>
	

<label>profile_visible_registered_status</label>




	<%= f.number_field :profile_visible_registered_status,class: 'form-control' %>
</div>

<div class='form-group'>
	

<label>profile_visible_all_status</label>




	<%= f.number_field :profile_visible_all_status,class: 'form-control' %>
</div>

<div class='form-group'>
	

<label>profile_hide_status</label>




	<%= f.number_field :profile_hide_status,class: 'form-control' %>
</div>















	<%= f.submit "Submit" , :class => "btn btn-primary pull-right "  , name: 'submit_check'%>





<% end %>


