
<%= form_for(:profiles, url: upload_verfication_files_profiles_path, method: :post , :html => {:multipart => true} ) do |f| %>

<fieldset>


        <% @testlist.each do |lists| %>
            <div class="form-group">
             
                
                  <label>Attachments</label>
                  <input id="testname" name="hrhireportals[testname]"  type="text" class="form-control required" value='<%= lists[:doc_name]%>' readonly>
                </div>

                 <div class="form-group">
                
                  <%= f.file_field :attach_trust, name: "profiles[attachments][]" ,class: 'form-control'  %>
                </div>
                 <div class="form-group">


                     <input type="hidden" name="course2[track_codes2][]"  value = "<%= lists[:doc_name] %>" >
                </div>

                 <div class="form-group">


                    
            

                  <input type="hidden" name='<%= lists[:doc_name] %>' value=<%= lists[:doc_name]%>><%= lists[:doc_name] %>



            <input type="checkbox" name="a[<%= lists[:doc_name] %>][]"  id="a<%= lists[:doc_name] %>" />
              <label for="a<%= lists[:doc_name]%>"></label>

                  </div>



                
              
            

        <%end%>

      </fieldset>


  <%= f.submit "Submit" , :class => "btn btn-primary pull-right "  , name: 'submit_check'%>
<%end%>

