/* Styles for dialog window */
/* line 3, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
#small-dialog, #small-dialog2 {
  background: #EBEBEB;
  padding: 20px;
  text-align: left;
  max-width: 650px;
  margin: 40px auto;
  position: relative;
  text-align: center;
}

/* line 12, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
#small-dialog-it, #small-dialog-in, #small-dialog-fr, #small-dialog-sh, #small-dialog-sf, #small-dialog-su, #small-dialog-me, #small-dialog-ch, #small-dialog-pi, #small-dialog-am {
  background: white;
  padding: 20px;
  text-align: left;
  max-width: 450px;
  margin: 40px auto;
  position: relative;
  text-align: center;
}

/* line 21, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
a.play-icon.popup-with-zoom-anim img:hover {
  opacity: 0.5;
  transition: 0.5s all;
  -webkit-transition: 0.5s all;
  -o-transition: 0.5s all;
  -moz-transition: 0.5s all;
  -ms-transition: 0.5s all;
}

/* line 29, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.portfolio-items {
  text-align: center;
  margin: 0 auto;
}

/* line 33, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.portfolio-items img {
  width: 100%;
}

/* line 36, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.portfolio-items h4 {
  margin: 1em 0;
  font-size: 25px;
  color: #a63d56;
}

/* line 41, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.portfolio-items p {
  text-align: justify;
}

/**

/**
 * Fade-zoom animation for first dialog
 */
/* start state */
/* line 51, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.my-mfp-zoom-in #small-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

/* animate in */
/* line 64, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.my-mfp-zoom-in.mfp-ready #small-dialog {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* animate out */
/* line 73, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.my-mfp-zoom-in.mfp-removing #small-dialog {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
}

/* Dark overlay, start state */
/* line 82, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

/* animate in */
/* line 90, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.8;
}

/* animate out */
/* line 94, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.my-mfp-zoom-in.mfp-removing.mfp-bg {
  opacity: 0;
}

/**
/* Magnific Popup CSS */
/* line 99, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.mfp-bg {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1042;
  overflow: hidden;
  position: fixed;
  background: #0b0b0b;
  opacity: 0.8;
  filter: alpha(opacity=80);
}

/* line 111, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.mfp-wrap {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1043;
  position: fixed;
  outline: none !important;
  -webkit-backface-visibility: hidden;
}

/* line 121, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.mfp-container {
  text-align: center;
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  padding: 0 8px;
  box-sizing: border-box;
}

/* line 133, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.mfp-container:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

/* line 139, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.mfp-align-top .mfp-container:before {
  display: none;
}

/* line 142, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.mfp-content {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin: 0 auto;
  text-align: left;
  z-index: 1045;
}

/* line 150, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.mfp-inline-holder .mfp-content,
.mfp-ajax-holder .mfp-content {
  width: 100%;
  cursor: auto;
}

/* line 155, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.mfp-ajax-cur {
  cursor: progress;
}

/* line 158, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.mfp-zoom-out-cur,
.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor: zoom-out;
}

/* line 163, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.mfp-zoom {
  cursor: pointer;
  cursor: zoom-in;
}

/* line 169, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.mfp-auto-cursor .mfp-content {
  cursor: auto;
}

/* line 172, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.mfp-close,
.mfp-arrow,
.mfp-preloader,
.mfp-counter {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
      user-select: none;
}

/* line 180, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.mfp-loading.mfp-figure {
  display: none;
}

/* line 183, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.mfp-hide {
  display: none !important;
}

/* line 185, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.mfp-content iframe {
  width: 100%;
  min-height: 500px;
}

/* line 189, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.mfp-preloader {
  color: #cccccc;
  position: absolute;
  top: 50%;
  width: auto;
  text-align: center;
  margin-top: -0.8em;
  left: 8px;
  right: 8px;
  z-index: 1044;
}

/* line 200, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.mfp-preloader a {
  color: #cccccc;
}

/* line 203, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.mfp-preloader a:hover {
  color: white;
}

/* line 206, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.mfp-s-ready .mfp-preloader {
  display: none;
}

/* line 209, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.mfp-s-error .mfp-content {
  display: none;
}

/* line 212, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
button.mfp-close,
button.mfp-arrow {
  overflow: visible;
  cursor: pointer;
  border: 0;
  background: #FFF;
  -webkit-appearance: none;
  display: block;
  padding: 0;
  z-index: 1046;
}

/* line 222, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

/* line 226, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.mfp-close {
  width: 44px;
  height: 44px;
  line-height: 44px;
  position: absolute;
  right: 0px;
  top: -43px;
  text-decoration: none;
  text-align: center;
  padding: 0 0 18px 10px;
  color: white;
  font-style: normal;
  font-size: 28px;
  outline: none;
}

/* line 241, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.mfp-close:hover, .mfp-close:focus {
  opacity: 1;
}

/* line 244, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.mfp-close-btn-in .mfp-close {
  color: #333333;
  background: #EBEBEB;
}

/* line 249, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.mfp-image-holder .mfp-close,
.mfp-iframe-holder .mfp-close {
  color: white;
  right: -6px;
  text-align: right;
  padding-right: 6px;
  width: 100%;
}

/*------------pricing-tabels--------------------*/
/*---start-pricing-tabels-----*/
/* line 270, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.payment-online-form-left h4 {
  font-size: 1.5em;
  color: #222222;
  padding: 0.5em 0;
  margin: 0;
}

/* line 276, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.payment-online-form-left span {
  vertical-align: middle;
  margin-right: 5px;
}

/* line 280, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.payment-online-form-left form {
  padding: 0 3%;
}

/* line 283, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.payment-online-form-left input[type="text"] {
  padding: 1em;
  color: #D5D5D5;
  width: 42%;
  margin: 5px 0;
  border: 1px solid;
  outline: none;
  transition: border-color 0.3s;
  -o-transition: border-color 0.3s;
  -ms-transition: border-color 0.3s;
  -moz-transition: border-color 0.3s;
  -webkit-transition: border-color 0.3s;
  float: left;
  font-size: 0.8125em;
  border-color: #D3D3D3;
}

/* line 299, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.payment-online-form-left input[type="text"]:hover {
  border-color: #E74C3C;
}

/* line 304, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.text-box-light {
  background: url(../images/calender.png) no-repeat 95% 50%;
  cursor: pointer;
  position: relative;
}

/* line 309, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.payment-online-form-left ul li:first-child input[type="text"] {
  margin-right: 5%;
}

/* line 312, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.payment-online-form-left input[type="text"]:active, .payment-online-form-left input[type="text"]:hover {
  border-color: #999;
  color: #c32143;
}

/* line 316, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

/* line 321, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.shipping {
  width: 32px;
  height: 32px;
  display: inline-block;
  background: url(../images/img_sprite.png) no-repeat -119px -2px;
}

/* line 327, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.payment {
  width: 35px;
  height: 32px;
  display: inline-block;
  background: url(../images/img_sprite.png) no-repeat -159px -5px;
}

/* line 333, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.payment-date-section {
  background: url(../images/calender.png) no-repeat #fff 50%;
}

/* line 336, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.payment-sendbtns {
  float: right;
  margin: 2em 0 2em;
}

/* line 340, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.payment-sendbtns input[type="reset"] {
  background: #ffa417;
  padding: 10px 20px;
  border: none;
  color: #FFF;
  cursor: pointer;
  font-size: 1em;
  display: block;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  outline: none;
  font-weight: 400;
}

/* line 355, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.payment-sendbtns input[type="reset"]:hover {
  color: #FFF;
  background: #ffa417;
}

/* line 359, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.payment-sendbtns input[type="submit"] {
  background: #c32143;
  padding: 10px 20px;
  border: none;
  color: #fff;
  cursor: pointer;
  font-size: 1em;
  display: block;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  outline: none;
  font-weight: 400;
}

/* line 374, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.payment-sendbtns input[type="submit"]:hover {
  background: #ffa417;
}

/* line 377, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.payment-sendbtns li {
  display: inline-block;
}

/* line 380, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.payment-type li {
  display: inline-block;
}

/* line 383, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.payment-online-form-right {
  background: #2B2937;
  border-radius: 5px;
  border-bottom: 4px solid #1A1822;
}

/*---start-checkbox----*/
/* line 392, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
input[type=checkbox].css-checkbox1, input[type=checkbox].css-checkbox2 {
  display: none;
}

/* line 395, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
input[type=checkbox].css-checkbox1 + label.css-label1 {
  height: 26px;
  width: 23px;
  display: inline-block;
  line-height: 18px;
  background-repeat: no-repeat;
  background-position: 0 0;
  cursor: pointer;
  background: url(../images/img_sprite.png) no-repeat -201px -5px;
}

/* line 405, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
input[type=checkbox].css-checkbox1:checked + label.css-label1 {
  background: url(../images/icon.png) no-repeat -224px -203px;
}

/* line 408, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
input[type=checkbox].css-checkbox2 + label.css-label2 {
  height: 28px;
  width: 23px;
  display: inline-block;
  line-height: 18px;
  background-repeat: no-repeat;
  background-position: -20px 0px;
  cursor: pointer;
  background: url(../images/img_sprite.png) no-repeat -223px -4px;
}

/* line 418, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
input[type=checkbox].css-checkbox2:checked + label.css-label2 {
  background: url(../images/img_sprite.png) no-repeat -239px -209px;
}

/* line 421, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.visa {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(../images/img_sprite.png) no-repeat -38px -4px;
}

/* line 427, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.paypal {
  display: inline-block;
  width: 32px;
  height: 32px;
  background: url(../images/img_sprite.png) no-repeat -79px -5px;
}

/* line 433, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.payment-online-form-right {
  float: right;
  width: 30%;
  background: #2B2937;
  border-radius: 5px;
  border-bottom: 4px solid #1A1822;
  padding-bottom: 2em;
}

/* line 444, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.payment-online-form-right a {
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* line 450, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.payment-online-form-right a:hover {
  color: #1ABC9C;
}

/* line 453, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.payment-online-form-right ul li {
  display: block;
  padding: 0.5em;
}

/* line 457, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.payment-online-form-right ul li a {
  color: #9095AA;
}

/* line 460, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.payment-online-form-right h4 {
  color: #FFF;
  font-size: 1em;
  text-transform: uppercase;
  border-bottom: 1px solid rgba(144, 149, 170, 0.22);
  padding: 0.8em;
}

/* line 467, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.payment-online-form-right ul {
  padding: 0px 1em;
}

/* line 470, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.payment-online-form-right h5 {
  color: #FFF;
  padding: 0.5em 0.8em 0.4em;
  font-size: 1em;
}

/* line 475, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.payment-type {
  border-top: 1px solid rgba(144, 149, 170, 0.22);
  margin-top: 1.5em;
  padding: 0;
}

/* line 480, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
input[type=checkbox].css-checkbox3, input[type=checkbox].css-checkbox4, input[type=checkbox].css-checkbox5, input[type=checkbox].css-checkbox6 {
  display: none;
}

/* line 483, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
input[type=checkbox].css-checkbox3 + label.css-label3 {
  height: 22px;
  width: 21px;
  display: inline-block;
  line-height: 18px;
  background-repeat: no-repeat;
  background-position: 0 -38px;
  vertical-align: middle;
  cursor: pointer;
  background-image: url(../images/filter-bg.png);
}

/* line 494, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
input[type=checkbox].css-checkbox3:checked + label.css-label3 {
  background-position: 0px 0px;
}

/* line 497, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
input[type=checkbox].css-checkbox4 + label.css-label4 {
  height: 22px;
  width: 21px;
  display: inline-block;
  line-height: 18px;
  background-repeat: no-repeat;
  background-position: 0 0px;
  vertical-align: middle;
  cursor: pointer;
  background-image: url(../images/filter-bg.png);
}

/* line 508, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
input[type=checkbox].css-checkbox4:checked + label.css-label4 {
  background-position: 0px -38px;
}

/* line 511, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
input[type=checkbox].css-checkbox5 + label.css-label5 {
  height: 22px;
  width: 21px;
  display: inline-block;
  line-height: 18px;
  background-repeat: no-repeat;
  background-position: 0 -38px;
  vertical-align: middle;
  cursor: pointer;
  background-image: url(../images/filter-bg.png);
}

/* line 522, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
input[type=checkbox].css-checkbox5:checked + label.css-label5 {
  background-position: 0px 0px;
}

/* line 525, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
input[type=checkbox].css-checkbox6 + label.css-label6 {
  height: 22px;
  width: 21px;
  display: inline-block;
  line-height: 18px;
  background-repeat: no-repeat;
  background-position: 0 0px;
  vertical-align: middle;
  cursor: pointer;
  background-image: url(../images/filter-bg.png);
}

/* line 536, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
input[type=checkbox].css-checkbox6:checked + label.css-label6 {
  background-position: 0px -38px;
}

/*-----*/
/******** Plans List *******/
/* Styles for dialog window */
/* line 542, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
#small-dialog {
  background: #FFF;
  padding: 20px;
  text-align: left;
  max-width: 700px;
  margin: 40px auto;
  position: relative;
  border-radius: 2px;
}

/**

/**
 * Fade-zoom animation for first dialog
 */
/* start state */
/* line 558, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.my-mfp-zoom-in #small-dialog {
  opacity: 0;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
}

/* animate in */
/* line 571, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.my-mfp-zoom-in.mfp-ready #small-dialog {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}

/* animate out */
/* line 580, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.my-mfp-zoom-in.mfp-removing #small-dialog {
  -webkit-transform: scale(0.8);
  transform: scale(0.8);
  opacity: 0;
}

/* Dark overlay, start state */
/* line 589, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.my-mfp-zoom-in.mfp-bg {
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-out;
  transition: opacity 0.3s ease-out;
}

/* animate in */
/* line 597, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
.my-mfp-zoom-in.mfp-ready.mfp-bg {
  opacity: 0.9;
}

@media all and (max-width: 480px) {
  /* line 601, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
  .comments-area textarea {
    height: 100px;
  }

  /* line 604, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
  .login input[type="submit"], .signup input[type="submit"] {
    font-size: 14px;
    width: 20%;
  }
}
@media all and (max-width: 320px) {
  /* line 610, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
  .comments-area span.label, .comments-area span.text-field {
    float: none;
    width: 100%;
  }

  /* line 614, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
  .comments-area span {
    padding-bottom: 3px;
  }

  /* line 617, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
  #small-dialog {
    padding: 15px;
  }

  /* line 620, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
  .comments-area input[type="text"], .comments-area textarea {
    width: 92%;
  }

  /* line 623, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
  .comments-area div {
    padding: 2px 0;
  }

  /* line 626, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
  .mfp-content iframe {
    width: 100%;
    min-height: 250px;
  }

  /* line 630, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
  .login input[type="submit"], .signup input[type="submit"] {
    font-size: 12px;
    width: 29%;
  }

  /* line 634, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
  .signup input[type="text"] {
    width: 90%;
  }

  /* line 637, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
  .payment-online-form-left h4 {
    font-size: 1.3em;
  }

  /* line 640, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
  .payment-online-form-left input[type="text"] {
    padding: 10px;
    font-size: 0.8125em;
    width: 100%;
  }

  /* line 645, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
  .payment-sendbtns {
    float: right;
    margin: 1em 0;
  }

  /* line 649, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
  .payment-sendbtns input[type="reset"] {
    padding: 10px 16px;
  }

  /* line 652, C:/dev_ruby_rails/radiant-eyrie-81634/app/assets/stylesheets/style.css.scss */
  .payment-sendbtns input[type="reset"], .payment-sendbtns input[type="submit"] {
    padding: 8px 15px;
    font-size: 0.85em;
  }
}
