
<div class="grid_3">
  <div class="container">

<%= link_to "Create profile", create_profile_profiles_path %>
<br>
<%= link_to "Add profile picture",add_profile_picture_profiles_path %>

<br>
<%= link_to "Send and accept invite",send_accept_invite_profiles_path %>

<br>
<%= link_to "Set Preferences",set_preferences_profiles_path %>
<br>
<%= link_to "Recommended profiles",recommended_profiles_profiles_path %>
<br>
<%= link_to "Prefered profiles",prefered_profiles_profiles_path %>
<br>
<%= link_to "New profiles",recent_profiles_profiles_path %>
<br>
<%= link_to "Premimum profiles",premimum_profiles_profiles_path %>
<br>
<%= link_to "Profile Search",profile_search_profiles_path %>
<br>
<%= link_to "General Search",general_search_profiles_path %>
<br>
<%= link_to "Shortlisted profiles",shortlisted_profile_profiles_path %>

<br>
<%= link_to "Upload files for verification",upload_verfication_files_profiles_path %>

<br>
<%= link_to "Privacy option",set_privacy_option_profiles_path %>

<br>
<%= link_to "Set hobby & music ",set_hobby_music_profiles_path %>
<br>
<%= link_to "Set Package ",set_package_profiles_path %>
<br>
<%= link_to "Give your feedback",client_feedback_profiles_path %>
<br>
<%= link_to "Add extra profile photos",additional_profile_photos_profiles_path%>

<br>
<%= link_to "Sent Message",sent_message_inboxes_path(profile_id:"4"

) %>

<br>
<%= link_to "Inbox",inbox_inboxes_path %>
</div>
</div>