/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require font-awesome
 *= require magnific-popup
 *= require flexslider.css
 *= require style.css
 *= require bootstrap-tagsinput

 *= require_self 

 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";


 .wizard > .content {
    background: #eee;
    display: block;
    margin: 5px 5px 10px 5px;
    min-height: 500px!important;
    overflow: hidden;
    position: relative;
    width: auto;
    border-radius: 5px;
}




