<!-- ============================  Navigation Start =========================== -->
 <div class="navbar navbar-inverse-blue navbar">
    <!--<div class="navbar navbar-inverse-blue navbar-fixed-top">-->
      <div class="navbar-inner">
        <div class="container">
           <div class="navigation">
             <nav id="colorNav">
			   <ul>
				<li class="green">
					<a href="#" class="icon-home"></a>
					<ul>
						<li><a href="/authentications/login">Login</a></li>
					    <li><a href="/authentications/register">Register</a></li>
					    <li><a href="/">Logout</a></li>
					</ul>
				</li>
			   </ul>
             </nav>
           </div>
           <a class="brand" href="/"> <%=image_tag("logo.png" )%></a>
           <div class="pull-right">
          	<nav class="navbar nav_bottom" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
		  <div class="navbar-header nav_2">
		      <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">Menu
		        <span class="sr-only">Toggle navigation</span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		        <span class="icon-bar"></span>
		      </button>
		      <a class="navbar-brand" href="#"></a>
		   </div> 
		   <!-- Collect the nav links, forms, and other content for toggling -->
		    <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
		        <ul class="nav navbar-nav nav_1">
		            <li><a href="/">Home</a></li>
		            <li><a href="/homes">Tauseef Home</a></li>
		            <li><a href="/home/about">About</a></li>
		    		<li class="dropdown">
		              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Matches<span class="caret"></span></a>
		              <ul class="dropdown-menu" role="menu">
		                <li><a href="/profiles/matches">New Matches</a></li>
		                <li><a href="/profiles/viewed_profile">Who Viewed my Profile</a></li>
		                <li><a href="/profiles/viewed_not_contacted">Viewed & not Contacted</a></li>
		                <li><a href="/home/members">Premium Members</a></li>
		                <li><a href="/profiles/shortlisted">Shortlisted Profile</a></li>
		              </ul>
		            </li>
					<li class="dropdown">
		              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Search<span class="caret"></span></a>
		              <ul class="dropdown-menu" role="menu">
		                <li><a href="/profiles/search">Regular Search</a></li>
		                <li><a href="/profiles/profile">Recently Viewed Profiles</a></li>
		                <li><a href="/profiles/search_id">Search By Profile ID</a></li>
		                <li><a href="/home/faq">Faq</a></li>
		                <li><a href="/home/shortcodes">Shortcodes</a></li>
		              </ul>
		            </li>
		            <li class="dropdown">
		              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Messages<span class="caret"></span></a>
		              <ul class="dropdown-menu" role="menu">
		                <li><a href="/messages/inbox">Inbox</a></li>
		                <li><a href="/messages/inbox">New</a></li>
		                <li><a href="/messages/inbox">Accepted</a></li>
		                <li><a href="/messages/sent">Sent</a></li>
		                <li><a href="/home/upgrade">Upgrade</a></li>
		              </ul>
		            </li>
		            <li class="last"><a href="/home/contact">Contacts</a></li>
		        </ul>
		     </div><!-- /.navbar-collapse -->
		    </nav>
		   </div> <!-- end pull-right -->
          <div class="clearfix"> </div>
        </div> <!-- end container -->
      </div> <!-- end navbar-inner -->
    </div> <!-- end navbar-inverse-blue -->
<!-- ============================  Navigation End ============================ -->