 <div class="grid_3">
  <div class="container">




<%= form_for(:inboxes, url: sent_message_inboxes_path, method: :get  ) do |f| %>






<div class='form-group'>
	

	<label>Message</label>




	<%= f.text_area :message,class: 'form-control' %>
</div>
<div class='form-group'>

 <input type="hidden" name="receive_profile_id"  value = "<%= @receive_profile_id %>" 
</div>


	<%= f.submit "Submit" , :class => "btn btn-primary pull-right "  , name: 'submit_check'%>

    










	





<% end %>


</div>
</div>


